/*------------------------------------*\
    $BASE
\*------------------------------------*/


/*
 * Smoother text rendering, off-black font colour
 */
body, html {
    -webkit-font-smoothing: antialiased;
    color: #1a1a1a;
}


/*
 * Nicer looking underline
 */
a {
    color: inherit;
    display: inline-block;
    border-bottom: 1px solid $base-ui-color;
    text-decoration: none;
    line-height: 1;
}


@include headings(1, 3) {
   font-weight: 600;
}


/*
 * Used to wrap `grid__item`, limiting the width of the page
 */
.wrapper{
    max-width: 960px;
    margin: 0 auto;
}