/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/


.btn {
    @include vendor(border-radius, $brand-round);
    @extend .weight--semibold;
    padding: ($base-spacing-unit * .75) ($base-spacing-unit * 1.5);
    border: 2px solid;
    opacity: .75;
}


    .btn:hover {
        opacity: 1;
    }