/*------------------------------------*\
    $FEATURE
\*------------------------------------*/

.feature {
    overflow: hidden;
    position: relative;
    color: #fff;

    @include media-query(desk) {
        height: 670px;
    }
}


    .feature__description {
        padding-top: $base-spacing-unit;
        padding-bottom: $base-spacing-unit;

        @include media-query(lap) {
            padding-top: $base-spacing-unit * 2.5;
            padding-bottom: $base-spacing-unit * 3;
        }

        @include media-query(desk) {
            padding-top: $base-spacing-unit * 4.5;
        }

        h1 {
            @include media-query(palm) {
                @include font-size(32px, false);
            }
        }

        h2 {
            @include font-size(14px);
            text-transform: uppercase;
        }

        p {
            @include font-size(18px);

            @include media-query(lap-and-up) {
                @include font-size(22px, false);
            }
        }

        .btn {
            margin-top: $base-spacing-unit;

            @include media-query(desk) {
                margin-top: $base-spacing-unit * 1.5;
            }
        }
    }


    .feature__image {
        display: none;
        width: 100%;
        position: absolute;

        @include media-query(desk) {
            display: inline-block;
        }

        a {
            border-bottom: none;
        }

        img {
            margin-top: ($base-spacing-unit * 2.5);
        }
    }