/*------------------------------------*\
    $GLOBAL-FOOTER
\*------------------------------------*/


.global-footer {
    background-color: #1a1a1a;
    color: #fff;
}


    .global-footer__meta {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: $base-spacing-unit * 2.5;
        padding-bottom: $base-spacing-unit * 1.5;
    }


    .global-footer__credit {}


    .global-footer__contact {
        @include media-query(desk) {
            text-align: center;
        }
    }


    .global-footer__social {
        @include font-size(24px, false);

        @include media-query(lap-and-up) {
            text-align: right;
        }

        a {
            letter-spacing: $base-spacing-unit / 2;
        }
    }


    .global-footer__copyright {
        padding-top: $base-spacing-unit * 1.5;
        padding-bottom: $base-spacing-unit * .5;
        color: #999;
        text-align: center;
        margin: 0;
    }