/*------------------------------------*\
    $META-BLOCK
\*------------------------------------*/


.meta-block {
    padding-bottom: $base-spacing-unit * 1;

    hr {
        margin: ($base-spacing-unit * 2) 0 0 0;

        @include media-query(palm) {
            margin: ($base-spacing-unit * 2) (-$base-spacing-unit) 0 (-$base-spacing-unit);
        }
    }

    li a {
        display: inline-block;
    }
}


    .meta-block__heading {
        @include font-size(18px);

        @include media-query(lap-and-up) {
            text-align: right;
        }
    }