/*------------------------------------*\
    $PORTFOLIO-ITEM
\*------------------------------------*/


.portfolio-item {
    padding-top: $base-spacing-unit * 1.5;

    @include media-query(lap-and-up) {
        padding-top: $base-spacing-unit * 3;
    }
}


    .portfolio-item__meta {
        @extend .weight--semibold;

        @include media-query(lap-and-up) {
            text-align: right;
            line-height: 4;
        }
    }


    .portfolio-item__title {
        h1 {
            @include media-query(lap-and-up) {
                margin-bottom: $base-spacing-unit * 2;
            }

            @include media-query(palm) {
                @include font-size(32px, false);
            }
        }

        p {
            font-weight: 600;
        }
    }


    .portfolio-item__description {
        margin-bottom: $base-spacing-unit * 2;

        @include media-query(lap-and-up) {
            margin-bottom: $base-spacing-unit * 3;
        }
    }