/*------------------------------------*\
    $SCREENSHOTS
\*------------------------------------*/


.screenshot {
    margin-bottom: $base-spacing-unit;

    >img {
        display: block;
        width: 100%;
    }
}