---
layout: default
---
<section class="portfolio-item grid island">
    <div class="wrapper">
        <aside class="portfolio-item__meta grid__item lap-and-up-one-sixth">
            <p>{{ page.year }}</p>
        </aside><!--

     --><div class="grid__item lap-and-up-two-thirds push--lap-and-up-one-twelfth">
            <header class="portfolio-item__title">
                <h1>{{ page.title }}</h1>
                <p>{{ page.services }}</p>
            </header>

            <main class="portfolio-item__description">
                <p class="lede">{{ page.lede }}</p>

                {{ content }}

                <p><a class="btn" href="#screenshots">Explore Project</a></p>
            </main>
        </div>

        <div id="screenshots">
            {% for image in page.images %}<div class="screenshot grid__item {{ image.width }}">
                <img src="{{ site.url }}{{ image.url }}" />
            </div>{% endfor %}
        </div>
    </div>
</section>